<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="bodyLogin">
        <%- include('../partials/header') %>
            <main>

                <div class="formulario">

                            <form action="/login" method="POST" class="form-container-inicioSesion">
                                <h2 class="h2Login">Inicia sesión !</h2>

                                <div>
                                    <div class="form-content">
                                        <i class="fas fa-envelope"></i>
                                        <input class="form-inputs" id="userEmailLogin" type="email"  name="userEmail"
                                            placeholder="E-mail">
                                            <% if(locals.errors && errors.userEmail) { %>
                                                <div class="text-danger">
                                                <%=errors.userEmail.msg%>
                                                </div>
            
                                            <% } %>
                                    </div>

                                    <div class="form-content">
                                        <i class="fas fa-lock"></i>
                                        <input class="form-inputs" id="userPasswordLogin" type="password" name="userPassword"
                                            placeholder="Password">
                                            <% if(locals.errors && errors.userPassword) { %>
                                                <div class="text-danger">
                                                        <%=errors.userPassword.msg%>
                                                </div>
                                            <% } %>
                                    </div>
                                    <div class="remember-me">
                                        <input type="checkbox" name="rememberMe" value="rememberMe" id="rememberMe">
                                        <label for="remember-me"> Recordar cuenta</label>
                                    </div>

                                    <div class="forgot-pass"><a href="#">Olvidó su contraseña?</a></div>

                                    <div class="errors">
                                        <ul>

                                        </ul>
                                    </div>

                                    <div class="buttons">
                                        <button class="login-button" type="submit"> <i
                                                class="fas fa-arrow-right"></i>Login</button>
                                    </div>
                                    <% if (typeof errors !=='undefined' ) { %>
                                            <% for (let i=0; i < errors.length; i++) { %>
                                                <p class="text-danger"><%= errors[i].msg%></p>
                                            <% } %>
                                    <% } %>
                                </div>    
                            </form>
                


                
                    <form action="/register" method="POST" enctype="multipart/form-data" class="form-container">
                        <h2 class="h2Login">Registrate !</h2>


                        <div>
                            <div class="form-content-firstName">
                                <input class="input-product-name-create" id="firstName" type="text" name="firstName"
                                    value="" placeholder="Nombre">
                                
                                <% if(locals.errors && errors.firstName) { %>
                                    <div class="text-danger">
                                    <%=errors.firstName.msg%>
                                    </div>

                                <% } %>
                            </div>

                            <div class="form-content">
                                <input class="input-product-name-create" id="lastName" type="text" name="lastName"
                                    value="" placeholder="Apellido">

                                    <% if(locals.errors && errors.lastName) { %>
                                        <div class="text-danger">
                                        <%=errors.lastName.msg%>
                                        </div>
    
                                    <% } %>

                                <div class="form-content">
                                    <i class="fas fa-user"></i>
                                    <input class="form-inputs" id="userName" type="text" name="userName"
                                        placeholder="User name">
                                        
                                    <% if(locals.errors && errors.userName) { %>
                                         <div class="text-danger">
                                            <%=errors.userName.msg%>
                                        </div>
                                    <% } %>
                                </div>

                                <div class="form-content">                            
                                    <input class="input-product-image-create" id="profileImage" type="file"
                                        name="profileImage">

                                    <% if(locals.errors && errors.profileImage) { %>
                                        <div class="text-danger">
                                               <%=errors.profileImage.msg%>
                                        </div>
                                    <% } %>
                                </div>

                                <div class="form-content">
                                    <i class="fas fa-envelope"></i>
                                    <input class="form-inputs" id="userEmail" type="text" name="userEmail"
                                        placeholder="E-mail">
                                    <% if(locals.errors && errors.userEmail) { %>
                                            <div class="text-danger">
                                                   <%=errors.userEmail.msg%>
                                            </div>
                                    <% } %>
                                    
                                </div>

                                <div class="form-content">
                                    <i class="fas fa-lock"></i>
                                    <input class="form-inputs" id="userPassword" type="password" name="userPassword"
                                        placeholder="Password">
                                    <% if(locals.errors && errors.userPassword) { %>
                                        <div class="text-danger">
                                                <%=errors.userPassword.msg%>
                                        </div>
                                    <% } %>
                                </div>
                                <div class="errorsRegister">
                                    <ul>

                                    </ul>
                                </div>




                                <div class="buttons">
                                    <button class="login-button" type="submit"> <i class="fas fa-arrow-right"></i>Sign
                                        Up</button>
                                </div>
                            </div>    
                    </form>
                </div>


            </main>
            <%- include('../partials/footer') %>

                <script src="/js/register.js "> </script>
                <script src="/js/login.js "> </script>



    </body>

</html>