<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
<%- include('../partials/header') %>
<main class="product-detail">
    <h2 class="detail-title"><%= product.productName %></h2>
<div>
    <img src="/images/<%=product.productImage%>" class="foto-ampliada">
</div>

<div>       
    
<h2>$<%=product.productPrice%></h2>

<div class="caja-cantidad">
    <div>
        <a class="btn" aria-label="Quitar uno" title="Quitar uno" href="#">
            <i class="fa fa-minus"></i>
        </a>
    </div>
    <input type="text" class="form-control" data-min="1" name="add_qty" value="1" title="">
    <div>
        <a class="btn" aria-label="Agregue uno" title="Agregue uno" href="#">
            <i class="fa fa-plus"></i>
        </a>
    </div>
</div>
<br>
<a role="button" id="add_to_cart" class="btn" href="#"
            ><i class="fa fa-shopping-cart"></i> Agregar al carrito</a>

<p><%= product.productDescription %></p>

<div>
    <a href="/product/<%=product.id%>/edit">
        <button class="edit-button" type="submit">Editar</button>
    </a>
</div>

<form action="/product/<%= product.id %>?_method=DELETE" method="POST">
    <button class="edit-button" type="submit">Eliminar</button>
</form>

<hr class="divisoria">



<div class="prod-relacionado">
<h2>Productos relacionados</h2>
<div class="cuadrado">     
    <img src="/images/trigo malteado.jpg" class="foto-prod-relacionado">

<h2 class="prod-relacionado2">Trigo malteado</h2>
<h2 class="prod-relacionado-precio">$ 2,120.00</h2> 
</div>

</main> 
<%- include('../partials/footer') %>
</body>
</html>
