<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="formulario-product-create">
            <div>
                <h2 class="h2-create-product">Estás editando: <i> <%=product.productName%> </i></h2>
            </div>
            
            <form  action="/product/<%=product.id%>?_method=PUT" method="POST"  enctype="multipart/form-data" class="form-container-create-product">
                <div>
                    <div class="form-content">
                        <input class="input-product-name-create" id="productName" type="text" value="<%= product.productName %>" name="productName">
                        <% if(locals.errors && errors.productName) { %>
                            <div class="text-danger">
                            <%=errors.productName.msg%>
                            </div>

                        <% } %>
                    </div>

                    <br></br>
                    
                    <div>
                        <input class="input-product-image-create" id="productImage" type="file" value="<%=product.productimage%>" name="productImage"
                        onchange="return validarExt()">
                        <% if(locals.errors && errors.productImage) { %>
                            <div class="text-danger">
                            <%=errors.productImage.msg%>
                            </div>

                        <% } %>
                    </div>
                    

                    <br></br>

                    <div class="form-content">
                        <label>Categoría</label>
                        <br></br>
                        <select name="productCategory">
                            <% for (let i = 0; i < categories.length; i++) { %>
                                <% if (categories[i].id == product.id_productCategory) {%>
                                    <option  value="<%=categories[i].id%>" selected> 
                                        <%=categories[i].name%>
                                    </option>  

                                 <% } else { %>
                                    <option  value="<%=categories[i].id%>"> 
                                        <%=categories[i].name%>
                                    </option>     
                                 <%  } %>
   
                            <% } %>
                            </select>
                    </div>

                    <br></br>

                    <div class="form-content">
                        <Label>Precio</Label>
                        <br></br>
                        <input class="form-inputs" name="productPrice" value="<%= product.productPrice %>" type="number" placeholder="1.0" step="0.01" min="0" max="10000">
                    </div>

                    <br></br>

                    <div class="form-content">
                        <Label>Descripción </Label>
                        <br></br>
                        <input class="textarea-product-description-create" value="<%= product.productDescription %>" id="productDescription" name="productDescription" placeholder="Agregue una descripción">
                        <% if(locals.errors && errors.productDescription) { %>
                            <div class="text-danger">
                            <%=errors.productDescription.msg%>
                            </div>

                        <% } %>
                    </div>
                    <div class="errors">
                        <ul>

                        </ul>
                    </div>
            

                    <div class="buttons">
                        <button  class="login-button" type="submit">Editar</button>
                        <button  class="login-button" type="submit">Cancelar</button>
                    </div>
    
        
                </div>
    
            </form>

        </div>

    </main>

    <%- include('../partials/footer') %>

    <script src="/js/productEdit.js "> </script>

</body>
</html>