<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="product-list">
        <h1 class="list-title">Listado de productos</h1>
        <ul>
            <% for (let i = 0; i < products.length; i++) { %>
            <li>
                <a href="/product/<%=products[i].id%>"><%=products[i].productName%> </a>
            </li>
            <% } %> 
        </ul>

            <div class="new-product-box">
            <a href="/product/create">
                <button class="new-product-button" type="submit">Agregar nuevo producto</button>
            </a>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>