<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Listado de productos</h1>
        <ul>
            <% for (let i = 0; i < products.length; i++) { %>
            <li>
                <a href="/product/<%=products[i].id%>"><%=products[i].productName%> </a>
            </li>
            <% } %> 
        </ul>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>